@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-It.otf');
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-BoldIt.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-LightIt.otf');
    font-style: italic;
    font-weight: 300;
}

body {
  font-family: 'SourceSansPro', sans-serif;
  background-color: black;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -200px;
}

h1 {
  font-size: 30pt;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

h2 {
  font-size: 24pt;
  font-weight: 300;
  line-height: 1.1em;
  cursor: pointer;
  color: #F1F2E3;
}

.circle_num {
  float: left;
  width: 40px;
  height: 40px;
  line-height: 1.2em;
  font-size: 23pt;
  border-radius: 50%;
  transition: border-radius, 2s;
  border: 0px;
  margin: 0 28px 0 0;
  text-align: center;
  background-color: #F1F2E3;
  font-weight: normal;
}

.block-header, .juice {
  width: 480px;
  margin: 0.5em auto 0 auto;
}

.juice {
  font-size: 14pt;
  font-weight: 300;
}

#wrapper.step1 .block-header {
  pointer-events: none;
}

.hint {
  font-style: italic;
  font-weight: 300;
}

.juice,
#unsicher,
#wrapper.stepcancel h2 {
  overflow: hidden;
  max-height: 0px;
  transition: max-height, height;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.block-step1 {
  background-color: #F1F2E3;
  color: black !important;
}

.block-step1 .circle_num {
  background-color: black;
  color: #F1F2E3;
  margin: 4px 28px 0 0;
  line-height: 1.3em;
}

.block-step2 {
  background-color: #047e7c;
}

.block-step2 .circle_num {
  color: #047e7c;
}

.block-step3 {
  background-color: #0c6d74;
}

.block-step3 .circle_num {
  color: #0c6d74;
}

.block-step4 {
  background-color: #145c6c;
}

.block-step4 .circle_num {
  color: #145c6c;
}

.block-step5 {
  background-color: #1c4b64;
}

.block-step5 .circle_num {
  color: #1c4b64;
}

.block-step6 {
  background-color: #243a5c;
}

.block-step6 .circle_num {
  color: #243a5c;
}

.block-step7 {
  background-color: #2c2954;
}

.block-step7 .circle_num {
  color: #2c2954;

}

#unsicher {
  background-color: #B77662;
  padding: 0;
}

.collapsable {
  width: 100%;
  min-width: 480px;
  color: white;
  padding: 0.4em 0 0.4em 0;
  margin-left: 0;
  margin-right: 0;
}

.block-step2, .block-step3, .block-step4, .block-step5, .block-step6, .block-step7, #unsicher {
  box-shadow: inset 0px 8px 6px -5px rgba(0, 0, 0, 0.5);
}

.two-buttons,
.one-button {
  height: 4em;
  margin: 2.5em 0 1.5em 0;
}

.button {
  width: 45%;
  height: 2em;
  padding-top: 0.7em;
  padding-bottom: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  transition-duration: 0.2s;
  cursor: pointer;
}

.button-small {
  background-color: white;
  color: #222;
  font-weight: normal;
  font-size: 13pt;
  display: inline-block;
  border-radius: 4px;
  padding: 0.2em 0.4em 0.2em 0.4em;
  margin: 0 0.4em 1em 0;
  cursor: pointer;
  transition-duration: 0.2s;
}

.one-button a:link,
.one-button a:visited,
.one-button a {
  text-decoration: none;
}

.button-red {
  float: right;
  background-color: #E65946;
}

.button-green {
  background-color: #8ECA63;
}

.button-green:hover {
  background-color: #96E65C;
}

.button-red:hover {
  background-color: #FF1E00;
}

.button-small:hover {
  /* background-color: #F1F2E3; */
  background-color: #D0B66B;
}

.one-button .button-green {
  margin-right: auto;
  margin-left: auto;
}

.two-buttons .button-green {
  float: left;
}

body {
  margin: 0px !important;
}

ul {
  list-style-type: none;
  padding-left:0;
}

.footer {
  background-color: #F1F2E3;
  box-shadow: inset 0px 12px 6px -6px rgba(0, 0, 0, 0.5);
  color: #8E99A0;
  font-size: 13pt;
  font-weight: 300;
  margin: 0;
  padding: 72px 0 0 0;
  text-align: center;
  width: 100%;
}

.footer, .push {
  height: 200px;
}

.footer p {
  margin-bottom: 0px;
  margin-top: 0px;
}

p a:link,
p a:visited {
  text-decoration: none;
  border-bottom: dotted 1px rgba(0,0,0,0.25);
}

.footer a:link,
.footer a:visited {
  color: #8E99A0;
}

.juice a:link,
.juice a:visited {
  color: black;
}

#wrapper.step3 .block-step2 .circle_num,
#wrapper.step4 .block-step2 .circle_num,
#wrapper.step5 .block-step2 .circle_num,
#wrapper.step6 .block-step2 .circle_num,
#wrapper.step7 .block-step2 .circle_num,
#wrapper.step4 .block-step3 .circle_num,
#wrapper.step5 .block-step3 .circle_num,
#wrapper.step6 .block-step3 .circle_num,
#wrapper.step7 .block-step3 .circle_num,
#wrapper.step5 .block-step4 .circle_num,
#wrapper.step6 .block-step4 .circle_num,
#wrapper.step7 .block-step4 .circle_num,
#wrapper.step6 .block-step5 .circle_num,
#wrapper.step7 .block-step5 .circle_num,
#wrapper.step7 .block-step6 .circle_num {
  border-radius: 1px !important;
  transition: border-radius, 2s;
}

input[type="text"] {
  width: 95%;
  background-color : rgba(255, 255, 255, 0.30);
  border: 0px solid rgba(255, 255, 255, 0.30);
  border-radius: 6px;
  font-family: 'SourceSansPro', sans-serif;
  font-size: 13pt;
  font-weight: normal;
  color: white;
  padding: 0.4em 0.6em 0.4em 0.6em;
  margin-bottom: 0.7em;
}

input:focus {
  outline: none !important;
}

input:focus::placeholder {
  opacity: 0;
}

::placeholder {
  color: white;
  opacity: 0.5;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 0.15em;
}


:focus::-moz-placeholder {
  opacity: 0
}

::-moz-placeholder {
  color: white;
  opacity: 0.5;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 0.15em;
}

::-ms-placeholder {
  color: white;
  opacity: 0.5;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 0.15em;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}
::-webkit-input-placeholder {
  color: white;
  opacity: 0.5;
  font-variant: small-caps;
  font-weight: normal;
  letter-spacing: 0.15em;
}

select.tag {
  width: 15%;
  margin-right: 3%;
}
select.monat {
  width: 25%;
  margin-right: 3%;
}
select.jahr {
  width: 15%;
  margin-right: 3%;
}
select.zeit {
  min-width: 20%;
  width: 25%;
}

select {
  height: 2em;
  font-family: 'SourceSansPro', sans-serif;
  font-size: 13pt;
  font-weight: 300;
  border-radius: 4px;
}

label {
  margin-bottom: 1em;
}

input[type=checkbox]:not(old) {
  display   : none;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label {
  display      : inline-block;
  margin-left  : 0;
  line-height  : 1.7em;
  text-indent  : -68px; /* Make 2nd line of label align, takes border width of tickbox into account */
  padding-left : 68px;
}

input[type=checkbox]:not(old) + label > span {
  display          : inline-block;
  width            : 30px;
  height           : 30px;
  background-color : rgba(255, 255, 255, 0.30);
  margin           : 2px 36px 8px 2px;
  border           : 0px solid rgba(255, 255, 255, 0.30);
  border-radius    : 6px;
  vertical-align   : top;
  transition       : font-size 0.4s;
  font-size        : 1pt;
}

input[type=checkbox]:not(old):checked + label > span {
  font-size   : 17pt;
}

input[type=checkbox]:not(old):checked + label > span:before {
  content     : '✓';
  display     : inline-block;
  width       : 28px;
  color       : white;
  text-align  : left;
  font-weight : bold;
  margin-left : 144px;
}

#wrapper.stepcancel .block-stepcancel .juice,
#wrapper.stepcancel #unsicher,
#wrapper.step1 .block-step1 .juice {
  max-height: 450px;
}

#wrapper.step2 .block-step2 .juice {
  max-height: 950px;
}

#wrapper.step3 .block-step3 .juice {
  max-height: 950px;
}

#wrapper.step4 .block-step4 .juice {
  max-height: 1200px;
}

#wrapper.step5 .block-step5 .juice {
  max-height: 1200px;
}

#wrapper.step6 .block-step6 .juice {
  max-height: 850px;
}

#wrapper.step7 .block-step7 .juice {
  max-height: 650px;
}

/* On older phones our blocks need to accomodate
   for zoomed fonts */
@media only screen and (max-device-width: 480px) {
#wrapper.stepcancel .block-stepcancel .juice,
#wrapper.step1 .block-step1 .juice {
  max-height: 450px !important;
}

#wrapper.step2 .block-step2 .juice {
  max-height: 950px;
}

#wrapper.step3 .block-step3 .juice {
  max-height: 950px;
}

#wrapper.step4 .block-step4 .juice {
  max-height: 1050px;
}

#wrapper.step5 .block-step5 .juice {
  max-height: 1200px;
}

#wrapper.step6 .block-step6 .juice {
  max-height: 850px;
}

#wrapper.step7 .block-step7 .juice {
  max-height: 650px;
}

}

.credits {
  min-width: 480px;
  width: 50%;
  max-width: 640px;
  margin: 0 auto 72px auto;
}

.partner img {
  opacity: 0.5;
}

.partner {
  display: inline-block;
  font-size: 10pt;
}

.partner.ccc, .partner.freifunk {
  margin-right: 3%;
}

.partner.freifunk img, .partner.gff img{
  padding-bottom: 6px;
}

.partner.ccc img {
  vertical-align: top;
}
