@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-Bold.otf');
    font-weight: bold;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-It.otf');
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-BoldIt.otf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: SourceSansPro;
    src: url('fonts/SourceSansPro-LightIt.otf');
    font-style: italic;
    font-weight: 300;
}

body {
  font-family: 'SourceSansPro', sans-serif;
  background-color: #F1F2E3;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

h1 {
  font-size: 30pt;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

h2 {
  font-size: 24pt;
  font-weight: 300;
  cursor: pointer;
}

.block-header, .juice {
  min-width: 480px;
  width: 50%;
  margin: 0.5em auto 0 auto;
}

.juice {
  font-size: 14pt;
  font-weight: 300;
}

#wrapper.step1 .block-header {
  pointer-events: none;
}

.hint {
  font-style: italic;
  font-weight: 300;
}

#unsicher,
.block-step7 {
  padding: 0;
}
#wrapper.stepcancel #unsicher,
#wrapper-step7 .block-step7 {
  padding: auto;
}

.block-step7,
.juice,
#wrapper.stepcancel h2 {
  overflow: hidden;
  max-height: 0px;
  transition: max-height, height;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.block-step1 {
  background-color: #F1F2E3;
  color: black !important;
}

#unsicher {
  background-color: #B77662;
}

.block-step2 {
  background-color: #70B5A9;
}

.block-step3 {
  background-color: #7CA8D7;
}

.block-step4 {
  background-color: #6A59A4;
}

.block-step5 {
  background-color: #564073;
}

.block-step6 {
  background-color: #403040;
}

.block-step7 {
  background-color: #F1F2E3;
  color: black !important;
}

.greyed .block-step2 {
  background-color: #ccc;
}

.greyed .block-step3 {
  background-color: #aaa;
}

.greyed .block-step4 {
  background-color: #888;
}

.greyed .block-step5 {
  background-color: #666;
}

.greyed .block-step6 {
  background-color: #444;
}

.collapsable {
  width: 100%;
  min-width: 480px;
  color: white;
  padding: 0.4em 0 0.4em 0;
  margin-left: 0;
  margin-right: 0;
}

.block-step2, .block-step3, .block-step4, .block-step5, .block-step6 {
  box-shadow: inset 0px 7px 3px -3px rgba(50, 50, 50, 0.75);
}

.two-buttons,
.one-button {
  height: 4em;
  margin: 1em 0 0.5em 0;
}

.button {
  width: 45%;
  height: 2em;
  padding-top: 0.7em;
  padding-bottom: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  text-transform: uppercase;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-red:hover {
  background-color: white;
  color: #E65946;
}

.button-red {
  float: right;
  border: 2px solid #E65946;
  background-color: #E65946;
}

.button-green:hover {
  background-color: white;
  color: #8ECA63;
}

.two-buttons .button-green {
  float: left;
}

.button-green {
  float: right;
  border: 2px solid #8ECA63;
  background-color: #8ECA63;
}

body {
  margin: 0px !important;
}

ul {
  list-style-type: none;
  padding-left:0;
}

.footer {
  background-color: #4A5D67;
  color: #8E99A0;
  font-size: 11pt;
  margin-left: 0;
  margin-right: 0;
  padding: 0.2em 0 0 0;
  text-align: center;
  width: 100%;
}

.footer, .push {
  height: 4em;
}

.footer p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.footer a:link,
.footer a:visited {
  color: #8E99A0;
}

.clear {
  clear: both;
  width: 100%;
}

.done {
  float: right;
  font-size: 24pt;
  margin-top: -0.2em;
  visibility: hidden;
}

#wrapper.step3 .block-step2 .done,
#wrapper.step4 .block-step2 .done,
#wrapper.step5 .block-step2 .done,
#wrapper.step6 .block-step2 .done,
#wrapper.step7 .block-step2 .done,
#wrapper.step4 .block-step3 .done,
#wrapper.step5 .block-step3 .done,
#wrapper.step6 .block-step3 .done,
#wrapper.step7 .block-step3 .done,
#wrapper.step5 .block-step4 .done,
#wrapper.step6 .block-step4 .done,
#wrapper.step7 .block-step4 .done,
#wrapper.step6 .block-step5 .done,
#wrapper.step7 .block-step5 .done,
#wrapper.step7 .block-step6 .done {
  visibility: visible;
}

input[type="text"] {
  width: 90%;
}

#wrapper.step1 .block-step1 .juice,
#wrapper.stepcancel .block-stepcancel .juice {
  max-height: 350px;
  transition: max-height 0.5s ease;
}

#wrapper.step2 .block-step2 .juice {
  max-height: 1000px;
  transition: max-height 0.5s ease;
}

#wrapper.step5 .block-step5 .juice,
#wrapper.step6 .block-step6 .juice {
  max-height: 500px;
  transition: max-height 0.5s ease;
}

#wrapper.step3 .block-step3 .juice,
#wrapper.step4 .block-step4 .juice,
#wrapper.step7 .block-step7 .juice,
#wrapper.step7 .block-step7
{
  max-height: 900px;
  transition: max-height 0.5s ease;
}
